* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem;
  background-color: #eef2f7;
}

@media (max-width: 600px) {
  body {
    padding: 0;
    overflow-x: hidden;
  }
}

.app {
  /* max-width: 600px; */
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
select {
  display: block;
  margin-top: 6px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-color: #007BFF;
  outline: none;
}

label {
  font-weight: 600;
  color: #333;
}

button {
  padding: 12px 24px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: -15px;
  margin-bottom: 10px;
}